<a href="https://colab.research.google.com/github/decouflet/7506R-2C2022-GRUPO15/blob/main/TP1_orga_del_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TP1

In [6]:
import pandas as pd
properati = pd.read_csv('./properati_argentina_2021.csv')

In [10]:
properati.shape

(460154, 20)

Hay 460154 filas y 20 columnas

In [11]:
properati.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460154 entries, 0 to 460153
Data columns (total 20 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        460154 non-null  object
 1   start_date                460154 non-null  object
 2   end_date                  460154 non-null  object
 3   created_on                460154 non-null  object
 4   latitud                   419740 non-null  float64
 5   longitud                  419740 non-null  float64
 6   place_l2                  460154 non-null  object
 7   place_l3                  437665 non-null  object
 8   place_l4                  139020 non-null  object
 9   place_l5                  2430 non-null    object
 10  place_l6                  0 non-null       float64
 11  operation                 460154 non-null  object
 12  property_type             460154 non-null  object
 13  property_rooms            368498 non-null  float64
 14  property_bedrooms         344113 non-null  float64
 15  property_surface_total    397813 non-null  float64
 16  property_surface_covered  427916 non-null  float64
 17  property_price            442153 non-null  float64
 18  property_currency         441590 non-null  object
 19  property_title            460154 non-null  object
dtypes: float64(8), object(12)
memory usage: 70.2+ MB

Mostramos un poco de informacion en general del dataset

In [12]:
properati.dtypes

id                           object
start_date                   object
end_date                     object
created_on                   object
latitud                     float64
longitud                    float64
place_l2                     object
place_l3                     object
place_l4                     object
place_l5                     object
place_l6                    float64
operation                    object
property_type                object
property_rooms              float64
property_bedrooms           float64
property_surface_total      float64
property_surface_covered    float64
property_price              float64
property_currency            object
property_title               object
dtype: object

Estos son los tipos de las 20 columnas

In [14]:
properati.isnull().sum()

id                               0
start_date                       0
end_date                         0
created_on                       0
latitud                      40414
longitud                     40414
place_l2                         0
place_l3                     22489
place_l4                    321134
place_l5                    457724
place_l6                    460154
operation                        0
property_type                    0
property_rooms               91656
property_bedrooms           116041
property_surface_total       62341
property_surface_covered     32238
property_price               18001
property_currency            18564
property_title                   0
dtype: int64

Vemos que hay filas con datos faltantes

In [33]:

properati_casa_depto = properati[properati.property_type.isin(['Casa', 'PH','Departamento'])]
properati_zona = properati_casa_depto[properati_casa_depto.place_l2.isin(['Capital Federal'])]
properati_operacion = properati_zona[properati_zona.operation.isin(['Venta'])]
properati_limpio = properati_operacion[properati_operacion.property_currency.isin(['USD'])]
properati_limpio.shape

(94249, 20)

Realizamos filtrado por:
    -Tipo de propiedad
    -Zona, que corresponda a capital
    -Tipo de Operacion
    -Tipo de moneda
Tomamos en cuenta que es excluyente que los datos no tengan datos faltantes para realizar este primer filtro
Vemos que el dataframe reduce su tama√±o

In [40]:
properati_limpio2 = pd.DataFrame(properati_limpio)
properati_limpio2.to_csv('properatilimpio.csv',index = False)